{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script type="text/javascript">

  function myFunction() {
    window.location.href = "/hub/other-ways.html";
  }
  setTimeout(myFunction, 9000)

</script>

<main id="content" role="main">
  {% include "includes/available-languages.html" %}

  <div class="grid-row">
    <div class="column-full">

      <header class="page-header">
        <div>
          <h1 style="text-align:center;" class="heading-large">
            Sending you to {{idpName}}
          </h1>
          <p style="text-align:center;">This may take a minute or so, please bear with us.</p>
        </div>
      </header>

      <div class="fullwidth-loading" style="text-align:center;">
        <img src="/public/images/ajax-loader.gif" alt="loading animation" title="" class="ajaxLoader"/>
      </div>

    </div>
  </div>
</main>


{% endblock %}
