{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

  {{ formData | safe }}

  <h1>{{idpName}} has verified your identity</h1>


  <p>You can sign in wherever you see the GOV.UK Verify logo with your {{idpName}} identity account username and password.</p>

	<p>You can now you can continue to {{serviceNameLower}}.</p>

  <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">Where you can use your identity account</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

      <p>The current services using GOV.UK Verify are:</p>

      <ul class="list-bullet list">
        <li>complete your Self Assessment</li>
        <li>sign in to your personal tax account</li>
        <li>view or share your driving licence information</li>
        <li>get your State Pension</li>
        <li>complete your claim or access your Universal Credit account</li>
        <li>check your income tax for the current year</li>
        <li>report a medical condition that affects your driving</li>
        <li>renew your short-term medical driving licence</li>
        <li>check or update your company car tax</li>
        <li>use Rural Payments</li>
        <li>help friends and family with their tax</li>
        <li>apply for a vehicle operator licence</li>
        <li>apply for a DBS basic check</li>
      </ul>
    </div>
  </details>
  <br><br>

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/third-cycle-matching{{formQuery}}" accept-charset="UTF-8" method="get">
  <div class="form-group">
    <fieldset>
      <div class="multiple-choice">
        <input id="radio-2" type="checkbox" name="rememberIdp" value="true">
        <label for="radio-2">Remember {{idpName}} for this device</label>
      </div>
    </fieldset>
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Continue">
    </div>
  </div>
</form>

{% endblock %}
